:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  background-color: rgb(54, 54, 54);
  padding: 10px;
}

body {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mainGrid {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100vh - 64px);
  max-height: 100%;
}
.subGrid {
  display: grid;
  grid-template-rows: 49% 49%;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: grey;
}

.editor-inactivo {
  position: absolute;
  opacity: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: -9;
}

.editor {
  position: relative;
  height: 100%;
  max-height: calc(100vh - 64px);
}

.editor::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
}

#js::after {
  background-image: url("/brand-javascript.svg");
}

#html::after {
  background-image: url("/brand-html5.svg");
}

#css::after {
  background-image: url("/brand-css3.svg");
}

#ts::after {
  background-image: url("/brand-typescript.svg");
}

.buttonTag {
  background-color: #222;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

.buttonTag:disabled {
  background-color: #555454;
  color: #a6a5a5;
}
.buttonTag:disabled:hover {
  filter: brightness(1);
  cursor: default;
}
.buttonTag:hover {
  filter: brightness(2);
}
.buttonTag:focus-visible {
  filter: brightness(1.5);
}

.terminal {
  background-color: #1f1f1f;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 10px 1fr;
  height: 100%;
  max-height: 100%;
}

.horizontal-gutter {
  grid-area: 2 / 1 / 2 / 1;
  border: solid 5px rgb(83, 83, 83);
  cursor: move;
}

/* Monaco editor */

/* ARREGLAR MONACO EDITOR */
